<h1>These are {{user.username}}'s
    brainstorms.
</h1>

{{#each user.brainstorm}}
<h3>{{this.title}}</h3>
<h4>{{this.description}}</h4>
{{/each}}
<form action="/{{user._id}}/brainstorming/?_method=DELETE"
    method="POST">
    <input class="waves-effect waves-light
    btn-small" type="submit"
        value="DELETE" />
        </form>
    <a href="/{{user._id}}/brainstorming/new"
        class="waves-effect waves-light
btn-small">NEW</a>
    <a class="waves-effect waves-light
btn-small" href="/{{user._id}}/brainstorming/edit">EDIT</a>
   