<h1>These are {{user.username}}'s
    brainstorms.
</h1>

{{#each user.brainstorming}}
<h3>{{this.title}}</h3>
<h4>{{this.description}}</h4>
<form action="/{{this._id}}/brainstorming/?_method=DELETE"
    method="POST">
    <input class="waves-effect waves-light
    btn-small" type="submit"
        value="DELETE" />
    <a href="/{{this._id}}/brainstorming/new?_method=PUT"
        class="waves-effect waves-light
btn-small">NEW</a>
    <a class="waves-effect waves-light
btn-small" href="/{{this._id}}/brainstorming/edit">
        EDIT</a>
    {{/each}}