<h1>These are your
    projects.</h1>

{{#each user.project}}
<h1>{{user.username}}</h1>
<h3>{{this.title}}</h3>
<h4>{{this.description}}</h4>
<form action="{{this._id}}?_method=DELETE" method='post'>
    <a href="/{{this._id}}/projects"
    class="waves-effect waves-light
btn-small">DELETE</a>
</form>
<br/ >
<a class="waves-effect waves-light
btn-small" href="/{{this._id}}/projects/edit">
    EDIT</a>
{{/each}}

<a href="/{{this._id}}/projects/new" class="waves-effect waves-light
btn-small">NEW</a>



