
<h1>{{Users.username}}</h1>
<a href="/{{Users._id}}/projects/new">
    Create new projects</a>
<br />
    <a href="/{{Users._id}}/brainstorming/new">
        Create new brainstorm</a>
<br />

<a href="/{{Users._id}}/projects" class="waves-effect waves-light btn-large">Projects</a>



<a href="/{{Users._id}}/brainstorming" class="waves-effect waves-light btn-large">Brainstorms</a>

